<div id="container" class="p-20 w-auto flex px-24 justify-center relative bg-gray-950">
    <div
        id="container"
        class="p-20 sm:p-16 md:p-20 lg:p-24 xl:p-20 w-auto flex flex-col md:flex-row px-4 sm:px-8 md:px-24 lg:px-24 xl:px-24
            relative">
        <div class="mr-10">
            <img
                class="rounded-lg min-w-[100px] w-full h-auto md:w-auto md:h-auto"
                src="/img/me2.jpeg"
                alt="Jose Eduardo Roman"/>
        </div>
        <div class="w-full sm:w-[70%] md:w-[60%] lg:w-[50%]">
            <h1 class="text-white text-4xl mt-6 mb-8 font-dufanthe">
                Soy Jose Eduardo Roman !!
            </h1>
            <p class="text-gray-400 w-full sm:w-[35rem] md:w-[30rem] lg:w-[25rem] mb-10 text-justify font-grantham">
                Me gradué como Ingeniero en Telecomunicaciones, Sistemas y Electrónica en la UNAM. Tengo una especialización CCNA y CCNP de Cisco.
            </p>
            <p class="text-gray-400 w-full sm:w-[35rem] md:w-[30rem] lg:w-[25rem] mb-10 text-justify font-grantham">
                En 2023 ingresé al Bootcamp de Henry donde me gradúe como Desarrollador Fullstack. Desde entonces he estado estudiando para poder encontrar oportunidades labolares que me permitan desarrollar soluciones en base a mis conocimientos y experiencia.
            </p>
            <div id="social" class="flex flex-wrap justify-start items-center gap-4">
                <a
                    rel="noopener"
                    target="_blank"
                    href="https://github.com/jeromanp"
                    class="bg-gray-800 rounded-lg p-5 w-64 flex justify-center items-center gap-2 text-white">
                    <img
                        class="mr-2 hover:scale-105 transition duration-300 ease-in-out"
                        src="https://ucarecdn.com/1f465c47-4849-4935-91f4-29135d8607af/github2.svg"
                        width="20px"
                        height="20px"
                        alt="Github"/>
                    <span class="font-grantham">Visita mi Github</span>
                </a>
                <a
                    rel="noopener"
                    target="_blank"
                    href="https://www.linkedin.com/in/jose-eduardo-roman/"
                    class="bg-gray-800 rounded-lg p-5 w-64 flex justify-center items-center gap-2 text-white">
                    <img
                        class="mr-2 hover:scale-105 transition duration-300 ease-in-out"
                        src="https://ucarecdn.com/95eebb9c-85cf-4d12-942f-3c40d7044dc6/linkedin.svg"
                        width="20px"
                        height="20px"
                        alt="LinkedIn"/>
                    <span class="font-grantham text-justify">Agregame en Linkedin</span>
                </a>
                
            </div>
        </div>
    </div>