<div class="mx-auto px-5 bg-gray-950 pb-10">
    <div class="flex flex-col justify-center gap-10">
        <div class="text-center py-10">
            <h2 class="text-5xl text-white hover:text-sky-500 font-dufanthe">Contacto</h2>
            <p class="max-w-md mx-auto text-gray-400 mt-5 font-grantham">
                Tienes alguna duda, pregunta o comentario, puedes contactarme por los siguientes medios. 
            </p>
        </div>
        <div class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around py-5">
            {% include "layout/iconsContact.njk" %}
        </div>
        <div class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around py-5">
            {% include "layout/socialNetworks.njk" %}
        </div>
    </div>
</div>