<hr>
<footer class="bg-sky-950 flex justify-center py-5 text-white">
  💻 <small>Sitio hecho con <a href="https://www.11ty.dev/" target="_blank"><b><i>11ty</i></b></a> y <a href="https://tailwindcss.com/" target="_blank"><b><i>Tailwind</i></b></a> </small> 💻
</footer>