<div class="mx-auto px-5 bg-gray-950 pb-10">
    <div class="flex flex-col justify-center gap-10">
        <div class="text-center py-10">
            <h2 class="text-4xl font-dufanthe text-white">Mis habilidades</h2>
            <p class="max-w-md mx-auto text-gray-400 mt-5 font-grantham">
                Estas son las tecnologías con las que he trabajado, a diario hago lo posible por aprender nuevas herramientas que
                destaquen en la actualidad.
            </p>
        </div>
        <div class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around py-5">
            {% include "layout/logoHability.njk" %}
        </div>
    </div>
</div>