<div class="flex items-center justify-center rounded h-screen bg-center bg-no-repeat bg-container bg-[url('/img/me-bw.jpg')]">
    <div class="relative bg-black bg-opacity-75 h-full w-full flex items-center justify-center">
        <div class="flex flex-col items-center justify-center  w-auto h-auto">
            <h2 class="text-7xl text-center dark:text-white font-dufanthe">Bienvenido a mi Portfolio</h2>
            <button class="mx-auto flex rounded border-0 bg-sky-500 py-2 px-8 text-lg text-white hover:bg-sky-600 focus:outline-none font-grantham">Contacto</button>
        </div>
    </div>
</div>