<section id="features" class="container mx-auto px-4 space-y-6 bg-gray-950 py-8 md:py-12 lg:py-10">
    <div class="flex justify-center items-center">
        <h3 class="text-gray-500 text-3xl py-5 hover:text-sky-500 font-grantham">Frontent</h3>
    </div>
    <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3 font-grantham">
        {% for hability in allHabilities.frontend %}
            <div class="relative overflow-hidden rounded-lg border bg-slate-400 select-none hover:shadow hover:shadow-teal-200 p-2">
                <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                    <div class="flex justify-center py-2">
                        <img src="{{hability.svg}}" class="h-12 w-12 fill-current text-black">
                    </div>

                    <div class="space-y-2">
                        <div class="flex justify-center">
                            <h3 class="font-bold">{{hability.name}}</h3>
                        </div>
                        <p class="text-sm text-muted-foreground">{{hability.description}}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>
<hr>
<section id="features" class="container mx-auto px-4 space-y-6 bg-gray-950 py-8 md:py-12 lg:py-10">
    <div class="flex justify-center items-center">
        <h3 class="text-gray-500 text-3xl py-5 hover:text-sky-500 font-grantham">Backend</h3>
    </div>
    <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3 font-grantham">
        {% for hability in allHabilities.backend %}
            <div class="relative overflow-hidden rounded-lg border bg-slate-400 select-none hover:shadow hover:shadow-teal-200 p-2">
                <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                    <div class="flex justify-center py-2">
                        <img src="{{hability.svg}}" class="h-12 w-12 fill-current text-black">
                    </div>

                    <div class="space-y-2">
                        <div class="flex justify-center">
                            <h3 class="font-bold">{{hability.name}}</h3>
                        </div>
                        <p class="text-sm text-muted-foreground text-justify">{{hability.description}}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>
<hr>
<section id="features" class="container mx-auto px-4 space-y-6 bg-gray-950 py-8 md:py-12 lg:py-10">
    <div class="flex justify-center items-center">
        <h3 class="text-gray-500 text-3xl py-5 hover:text-sky-500 font-grantham">Complementos</h3>
    </div>
    <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3 font-grantham">
        {% for hability in allHabilities.other %}
            <div class="relative overflow-hidden rounded-lg border bg-slate-400 select-none hover:shadow hover:shadow-teal-200 p-2">
                <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                    <div class="flex justify-center py-2">
                        <img src="{{hability.svg}}" class="h-12 w-12 fill-current text-black">
                    </div>

                    <div class="space-y-2">
                        <div class="flex justify-center">
                            <h3 class="font-bold">{{hability.name}}</h3>
                        </div>
                        <p class="text-sm text-muted-foreground text-justify">{{hability.description}}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>
<hr>
<section id="features" class="container mx-auto px-4 space-y-6 bg-gray-950 py-8 md:py-12 lg:py-10">
    <div class="flex justify-center items-center">
        <h3 class="text-gray-500 text-3xl py-5 hover:text-sky-500 font-grantham">Otras</h3>
    </div>
    <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3 font-grantham">
        {% for hability in allHabilities.formation %}
            <div class="relative overflow-hidden rounded-lg border bg-slate-400 select-none hover:shadow hover:shadow-teal-200 p-2">
                <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                    <div class="flex justify-center py-2">
                        <img src="{{hability.svg}}" class="h-12 w-12 fill-current text-black">
                    </div>

                    <div class="space-y-2">
                        <div class="flex justify-center">
                            <h3 class="font-bold">{{hability.name}}</h3>
                        </div>
                        <p class="text-sm text-muted-foreground text-justify">{{hability.description}}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>