--- 
layout: layout/main-layout.njk 
title: Habilidades 
---

<div class="p-1 sm:ml-64">
    <div class=" border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
        <div class="bg-gray-950">
            <div class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center pt-5">

                <h2 class="text-3xl sm:text-3xl md:text-4xl text-gray-400 py-5 font-dufanthe">Mis Habilidades</h2>

                <p class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 text-gray-100 font-grantham">
                    Te muestro parte de las tecnologías de frontend, backend, bases de datos y algunas otras que consolidad mi formación y experiencia dentro del área de TI.
                </p>

            </div>
            {% include "layout/myHabilities.njk" %}
        </div>
    </div>
    <footer>
        {% include "layout/footer.njk" %}
    </footer>
</div>