---
layout: layout/main-layout.njk
title: Home
---

<div class="p-1 sm:ml-64">
    <div class=" border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
        <div>
            {% include "layout/hero.njk" %}
        </div>
        <div>
            {% include "layout/about.njk" %}
        </div>
        <div>
            {% include "layout/habilities.njk" %}
        </div>
        <div>
            {% include "layout/proyects.njk" %}
        </div>
    </div>
    <footer>
        {% include "layout/footer.njk" %}
    </footer>
</div>