---
layout: layout/main-layout.njk
title: Home
---

<div class="p-1 sm:ml-64">
    <div class=" border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
        {% include "layout/hero.njk" %}
        {% include "layout/about.njk" %}
    </div>
    <footer>
      {% include "layout/footer.njk" %}
    </footer>
</div>
